@import "tailwindcss";

html,body{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background: ghostwhite;
}

@theme {
  --color-txt-primary: #0b4f4a;
  --color-ghostwhite: ghostwhite;
  --color-text-terciary: #1a1919;

  --color-bg-primary:#d0e0de;

}


