@import "tailwindcss";
html,body{
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
}
#root{background: ghostwhite;}
@theme {
  --color-txt-primary: #0b4f4a;
  --color-ghostwhite: ghostwhite;
  --color-text-terciary: #1a1919;

  --color-bg-primary:#d0e0de;

}


html::-webkit-scrollbar { width: 8px; }

html::-webkit-scrollbar-track {
  background: rgb(211, 219, 217);
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
  background: #009487;
  border-radius: 5px;
  border: 1px solid #00cc7f;
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: #009487 ghostwhite;
  }
}